<div class="navbar blur">
    <div class="navbar-left">
        <img src="res/assets/logo.svg" alt="Marrati Logo" class="logo">
        <a href="/">Marrati</a>
    </div>
    <div class="navbar-center">
        <a href="apps/school3ykt/main.html" target="_blank" rel="noopener noreferrer">ШКОЛА 3</a>
        <a href="https://sexmapatuk.github.io/apps/assistant/assistant.html" target="_blank" rel="noopener noreferrer">Ассистент</a>
        <a href="https://sexmapatuk.github.io/about.html" target="_blank" rel="noopener noreferrer">О нас</a>
    </div>
    <div class="navbar-right">
        <!-- TODO: something -->
        <!--             <a class="button" href="/">...</a> -->
    </div>
</div>
